*.o
*.d
*.a
*.msgpack
*.out
*.data
*.png
*.mp4
*.stdout
*.stderr
__pycache__
# typical build directories
build*
# VSCode settings
.vscode
# Local notes
notes
TODO.md

# Manual integration run output
run-integration-pic/
